* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
}
/* navbar starting */
nav {
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
}
.logo {
  position: relative;
  z-index: 2;
}
.signIn button {
  width: 200px;
  height: 80px;
  position: relative;
  right: 50px;
  top: 20px;
  border-radius: 10px;
  background-color: #e50914;
  color: white;
  z-index: 2;
  font-size: 30px;
  font-weight: bold;
}
.signIn button:hover {
  opacity: 0.8;
}
/* navbar end */

/* main body start */
.main {
  width: 100%;
  height: 1100px;
  background-image: url(./images/DE-en-20250825-TRIFECTA-perspective_1fb9c931-6eba-441a-8973-8800e953e12b_small.jpeg);
  background-size: cover;
  text-align: center;
}
.main .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}
.main .information {
  position: relative;
  top: 400px;
  color: white;
  font-size: 40px;
  z-index: 2;
}
.information .heading {
  font-size: 60px;
}
.information .para1 {
  position: relative;
  top: 40px;
}
.information .para2 {
  position: relative;
  top: 50px;
}

.information .input {
  position: relative;
  top: 100px;
}
.information .input input {
  height: 100px;
  width: 120%;
  border-radius: 10px;
  background-color: #191815;
  font-size: 50px;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  display: block;
}
.information .startButton {
  position: relative;
  left: 200px;
  top: 100px;
}
.information .startButton button {
  height: 100px;
  width: 200%;
  border-radius: 10px;
  background-color: #e50914;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.startButton button:hover {
  opacity: 0.8;
}
.buttonInput {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: auto;
}

.horizental {
  width: 100%;
  height: 10px;
  background-color: deeppink;
  position: relative;
  top: 600px;
  z-index: 2;
  box-shadow: 10px 10px 10px 10px gray;
}
/* Main section Completed */

.middle {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.middle .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.content .heading {
  position: absolute;
  left: 300px;
  top: 1500px;
  font-size: 30px;
}
